a > .img-responsive.polla{
    height: 250px;
    width: 100%;
}

.prod-name{
    background-color: rgba(169, 169, 169, 0.2);
    height: 30px;
    font-weight: 600;
    font-size: 20px;
}

.links:link {
    color: black;
}

.links:visited {
    color: firebrick;
}

.links:hover{
    text-decoration: none;
    color: crimson;
}

.links:active{
    color: lightcoral;
}

@media (max-width: 990px) {

    a > .img-responsive.polla{
        height: 150px;
        width: 100%;
    }
    
}